@mixin displayFlex($direction) {
  display: flex;
  direction: $direction;
}

%default-button {
  width: 5rem;
  height: 5rem;
}

.instruments-section {
  background: black;
  @include displayFlex(row);

  &__drums {
    @include displayFlex(row);
    &__openhihat {
      @extend %default-button;
      background: aqua;
    }
    &__clap {
      @extend %default-button;
      background: red;
    }
    &__snare {
      @extend %default-button;
      background: yellow;
    }
    &__kick {
      @extend %default-button;
      background: blue;
    }
    &__shaker {
      @extend %default-button;
      background: grey;
    }
    &__closedhihat {
      @extend %default-button;
      background: violet;
    }
    &__cymbal {
      @extend %default-button;
      background: salmon;
    }
    &__ride {
      @extend %default-button;
      background: mediumpurple;
    }
  }
}
