body {
  margin: 0;
  padding: 0;
}

#instruments-section {
  background: #fcfcfc;
  width: 100vw;
  height: 85vh;
}

#timeline-section {
  background: #d3d1d1;
  width: 100vw;
  height: 15vh;
}

.instruments-section__drums__openhihat--active, .instruments-section__drums__closedhihat--active, .instruments-section__drums__ride--active, .instruments-section__drums__cymbal--active, .instruments-section__drums__snare--active, .instruments-section__drums__kick--active, .instruments-section__drums__clap--active, .instruments-section__drums__shaker--active, .instruments-section__drums__openhihat, .instruments-section__drums__closedhihat, .instruments-section__drums__ride, .instruments-section__drums__cymbal, .instruments-section__drums__snare, .instruments-section__drums__kick, .instruments-section__drums__clap, .instruments-section__drums__shaker {
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.63);
}

.instruments-section__drums__openhihat--active:hover, .instruments-section__drums__closedhihat--active:hover, .instruments-section__drums__ride--active:hover, .instruments-section__drums__cymbal--active:hover, .instruments-section__drums__snare--active:hover, .instruments-section__drums__kick--active:hover, .instruments-section__drums__clap--active:hover, .instruments-section__drums__shaker--active:hover, .instruments-section__drums__openhihat:hover, .instruments-section__drums__closedhihat:hover, .instruments-section__drums__ride:hover, .instruments-section__drums__cymbal:hover, .instruments-section__drums__snare:hover, .instruments-section__drums__kick:hover, .instruments-section__drums__clap:hover, .instruments-section__drums__shaker:hover {
  cursor: pointer;
}

.instruments-section__drums__openhihat--active, .instruments-section__drums__closedhihat--active, .instruments-section__drums__ride--active, .instruments-section__drums__cymbal--active, .instruments-section__drums__snare--active, .instruments-section__drums__kick--active, .instruments-section__drums__clap--active, .instruments-section__drums__shaker--active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.instruments-section__drums {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.instruments-section__drums__openhihat {
  background: #f7567c6c;
}

.instruments-section__drums__openhihat--active {
  background: #f7567c6c;
}

.instruments-section__drums__closedhihat {
  background: #f7567c81;
}

.instruments-section__drums__closedhihat--active {
  background: #f7567c81;
}

.instruments-section__drums__ride {
  background: #f7567ca1;
}

.instruments-section__drums__ride--active {
  background: #f7567ca1;
}

.instruments-section__drums__cymbal {
  background: #f7567c94;
}

.instruments-section__drums__cymbal--active {
  background: #f7567c94;
}

.instruments-section__drums__snare {
  background: #f7567ca6;
}

.instruments-section__drums__snare--active {
  background: #f7567ca6;
}

.instruments-section__drums__kick {
  background: #f7567ca8;
}

.instruments-section__drums__kick--active {
  background: #f7567ca8;
}

.instruments-section__drums__clap {
  background: #f7567cd5;
}

.instruments-section__drums__clap--active {
  background: #f7567cd5;
}

.instruments-section__drums__shaker {
  background: #f7567c;
}

.instruments-section__drums__shaker--active {
  background: #f7567c;
}

.timeline-section__control-panel__record, .timeline-section__control-panel__record--active, .timeline-section__control-panel__play {
  height: 3rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.timeline-section__control-panel__record:hover, .timeline-section__control-panel__record--active:hover, .timeline-section__control-panel__play:hover {
  cursor: pointer;
  -webkit-filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(6%);
          filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(6%);
}

.timeline-section__control-panel {
  -webkit-box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.068);
          box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.068);
  height: 70px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-section__control-panel__record--active {
  -webkit-filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
          filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
/*# sourceMappingURL=styles.css.map */