body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2em;
}

header h1 {
  font-weight: 300;
  padding-right: 1rem;
}

header p {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.521);
  padding-top: 0.75rem;
}

#instruments-section {
  background: #fcfcfc;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timeline-section {
  background: #d3d1d17a;
  width: 100vw;
  height: 30vh;
}

.instruments-section__drums--active, .instruments-section__drums > *, .instruments-section__acoustic-guitar > *, .instruments-section__guitar-licks > * {
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-size: 1.15rem;
  font-weight: 300;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.63);
}

.instruments-section__drums--active:hover, .instruments-section__drums > :hover, .instruments-section__acoustic-guitar > :hover, .instruments-section__guitar-licks > :hover {
  cursor: pointer;
}

.instruments-section__drums--active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.instruments-section__drums__icon, .instruments-section__acoustic-guitar__icon, .instruments-section__guitar-licks__icon {
  background: #fff !important;
}

.instruments-section__drums {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding: 0 2rem;
}

.instruments-section__drums > * {
  background: #f7567cab;
}

.instruments-section__acoustic-guitar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding: 10px 2rem;
}

.instruments-section__acoustic-guitar > * {
  background: #99e1d9ab;
}

.instruments-section__guitar-licks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  padding: 0 2rem;
}

.instruments-section__guitar-licks > * {
  background: #5d576b6b;
}

.timeline-section__control-panel__record, .timeline-section__control-panel__record--active, .timeline-section__control-panel__play, .timeline-section__control-panel__remove {
  height: 2.5rem;
  height: 2.5rem;
  padding-left: 0.5rem;
}

.timeline-section__control-panel__record:hover, .timeline-section__control-panel__record--active:hover, .timeline-section__control-panel__play:hover, .timeline-section__control-panel__remove:hover {
  cursor: pointer;
  -webkit-filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(6%);
          filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(6%);
}

.timeline-section__control-panel {
  -webkit-box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.068);
          box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.068);
  height: 25%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.timeline-section__control-panel__record--active {
  -webkit-filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
          filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
/*# sourceMappingURL=styles.css.map */