@mixin displayFlex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin dynamicOpacity($color, $numOfElements) {
  @for $i from 0 to $numOfElements {
    &:nth-child(#{$i}) {
      background: rgba($color, ($i/10) + 0.4);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #fcfcfc;
}

header {
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2em;
  h1 {
    font-weight: 300;
    padding-right: 1rem;
  }
  p {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.521);
    padding-top: 0.75rem;
  }
}

#instruments-section {
  width: 100vw;
  height: 60vh;
  @include displayFlex(column);
  justify-content: center;
}

#timeline-section {
  background: #d3d1d17a;
  width: 100vw;
  height: 30vh;
}

%default-button {
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 1.15rem;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.63);
  color: rgba(255, 248, 248, 0.918);
  &:hover {
    cursor: pointer;
  }
}

%active-button {
  @extend %default-button;
  transform: scale(1.1);
  transition: all 0.1s;
}

%default-instrument-icon {
  background: #fff !important;
}

.instruments-section {
  &__drums {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    padding: 0 2rem;
    &--active {
      @extend %active-button;
    }
    &__icon {
      @extend %default-instrument-icon;
    }
  }
  &__drums > * {
    @extend %default-button;
    @include dynamicOpacity(#f7567c, 8);
  }

  &__acoustic-guitar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    padding: 10px 2rem;
    &__icon {
      @extend %default-instrument-icon;
    }
  }
  &__acoustic-guitar > * {
    @extend %default-button;
    @include dynamicOpacity(#62d6c9, 8);
  }
  &__guitar-licks {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    padding: 0 2rem;
    &__icon {
      @extend %default-instrument-icon;
    }
  }
  &__guitar-licks > * {
    @extend %default-button;
    @include dynamicOpacity(#5d576b, 8);
  }
}

%control-icon {
  height: 2.5rem;
  height: 2.5rem;
  padding-left: 0.5rem;
  &:hover {
    cursor: pointer;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%)
      contrast(6%);
  }
}

.timeline-section {
  &__control-panel {
    box-shadow: 10px -0px 5px rgba(0, 0, 0, 0.068);
    height: 25%;
    background: #fff;
    @include displayFlex(row);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    &__record {
      @extend %control-icon;
      &--active {
        @extend %control-icon;
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
          brightness(95%) contrast(80%);
      }
    }
    &__play {
      @extend %control-icon;
    }

    &__remove {
      @extend %control-icon;
    }
  }
}
